.{


}

.TituloPrincipal{

 text-align: center;
 color: grey;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}

.SubtituloPrincipal{

    text-align: center;
}

.contenedor-pricipal{

    text-align: center;
}